<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toceansoft.salescount.mapper.SalescountMapper">
    
    <resultMap type="Salescount" id="SalescountResult">
        <result property="goodsId"    column="goods_id"    />
        <result property="totalSales"    column="total_sales"    />
    </resultMap>

    <sql id="selectSalescountVo">
        select goods_id, total_sales from t_salescount
    </sql>

    <select id="selectSalescountList" parameterType="Salescount" resultMap="SalescountResult">
        <include refid="selectSalescountVo"/>
        <where>  
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
        </where>
    </select>
    
    <select id="selectSalescountById" parameterType="Long" resultMap="SalescountResult">
        <include refid="selectSalescountVo"/>
        where goods_id = #{goodsId}
    </select>
        
    <insert id="insertSalescount" parameterType="Salescount">
        insert into t_salescount
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">goods_id,</if>
            <if test="totalSales != null">total_sales,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">#{goodsId},</if>
            <if test="totalSales != null">#{totalSales},</if>
         </trim>
    </insert>

    <update id="updateSalescount" parameterType="Salescount">
        update t_salescount
        <trim prefix="SET" suffixOverrides=",">
            <if test="totalSales != null">total_sales = #{totalSales},</if>
        </trim>
        where goods_id = #{goodsId}
    </update>

    <delete id="deleteSalescountById" parameterType="Long">
        delete from t_salescount where goods_id = #{goodsId}
    </delete>

    <delete id="deleteSalescountByIds" parameterType="String">
        delete from t_salescount where goods_id in 
        <foreach item="goodsId" collection="array" open="(" separator="," close=")">
            #{goodsId}
        </foreach>
    </delete>
</mapper>