<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toceansoft.dept.mapper.DeptMapper">
    
    <resultMap type="Dept" id="DeptResult">
        <result property="deptNo"    column="dept_no"    />
        <result property="deptName"    column="dept_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDeptVo">
        select dept_no, dept_name, create_by, create_time, update_by, update_time, remark from t_dept
    </sql>

    <select id="selectDeptList" parameterType="Dept" resultMap="DeptResult">
        <include refid="selectDeptVo"/>
        <where>  
            <if test="deptName != null  and deptName != ''"> and dept_name like concat('%', #{deptName}, '%')</if>
            and del_flag != 1

        </where>
    </select>


    
    <select id="selectDeptById" parameterType="Long" resultMap="DeptResult">
        <include refid="selectDeptVo"/>
        where dept_no = #{deptNo}
    </select>

        
    <insert id="insertDept" parameterType="Dept" useGeneratedKeys="true" keyProperty="deptNo">
        insert into t_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptName != null and deptName != ''">dept_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptName != null and deptName != ''">#{deptName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateDept" parameterType="Dept">
        update t_dept
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptName != null and deptName != ''">dept_name = #{deptName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where dept_no = #{deptNo}
    </update>

    <!--将删除标志改为1，表示放到回收站-->
    <update id="deleteDeptById">
        update t_dept set del_flag = 1 where dept_no =#{deptNo}
    </update>
<!--    <delete id="deleteDeptById" parameterType="Long">-->
<!--        delete from t_dept where dept_no = #{deptNo}-->
<!--    </delete>-->

    <!--批量将删除标志设为1-->
    <update id="deleteDeptByIds">
        update t_dept set del_flag=1 where dept_no in
        <foreach item="deptNo" collection="array" open="(" separator="," close=")">
            #{deptNo}
        </foreach>
    </update>
<!--    <delete id="deleteDeptByIds" parameterType="String">-->
<!--        delete from t_dept where dept_no in -->
<!--        <foreach item="deptNo" collection="array" open="(" separator="," close=")">-->
<!--            #{deptNo}-->
<!--        </foreach>-->
<!--    </delete>-->
</mapper>