<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toceansoft.orders.mapper.OrdersMapper">

    <resultMap type="Orders" id="OrdersResult">
        <result property="consumptionListId"    column="consumption_list_id"    />
        <result property="clientId"    column="client_id"    />
        <result property="clientName"  column="client_name"/>
        <result property="goodsId"    column="goods_id"    />
        <result property="goodsName" column="goods_name" />
        <result property="quantity"    column="quantity"    />
        <result property="state"    column="state"    />
        <result property="img"  column="img"/>
        <result property="salesmanId"    column="salesman_id"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="delLable"    column="del_lable"    />
    </resultMap>

    <sql id="selectOrdersVo">
        select consumption_list_id, client_id, client_name, goods_id, quantity, state,goods_name, img, salesman_id, total_amount, create_time, create_by, del_lable from t_orders
    </sql>

    <select id="selectOrdersList" parameterType="Orders" resultMap="OrdersResult">
        <include refid="selectOrdersVo"/>
        <where>  
            <if test="clientId != null "> and client_id = #{clientId}</if>
            <if test="clientName!=null">and client_name=#{clientName}</if>
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="salesmanId != null "> and salesman_id = #{salesmanId}</if>
            <if test="totalAmount != null "> and total_amount = #{totalAmount}</if>
            <if test="img !=null">and img=#{img}</if>
            <if test="goodsName!=null">and goods_name=#{goodsName}</if>
            <if test="delLable != null  and delLable != ''"> and del_lable = #{delLable}</if>
        </where>
    </select>
    
    <select id="selectOrdersById" parameterType="Long" resultMap="OrdersResult">
        <include refid="selectOrdersVo"/>
        where consumption_list_id = #{consumptionListId}
    </select>
        
    <insert id="insertOrders" parameterType="Orders" useGeneratedKeys="true" keyProperty="consumptionListId">
        insert into t_orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clientId != null">client_id,</if>
            <if test="clientName!=null">client_name,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="goodsName !=null and goodsName!=''">goods_name,</if>
            <if test="quantity != null">quantity,</if>
            <if test="state != null and state != ''">state,</if>
            <if test="img !=null and img !=''">img,</if>
            <if test="salesmanId != null">salesman_id,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="delLable != null">del_lable,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="clientId != null">#{clientId},</if>
            <if test="clientName!=null">#{clientName},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="goodsName!=null">#{goodsName},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="state != null and state != ''">#{state},</if>
            <if test="img!=null">#{img},</if>
            <if test="salesmanId != null">#{salesmanId},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="delLable != null">#{delLable},</if>
         </trim>
    </insert>

    <update id="updateOrders" parameterType="Orders">
        update t_orders
        <trim prefix="SET" suffixOverrides=",">
            <if test="clientId != null">client_id = #{clientId},</if>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="state != null and state != ''">state = #{state},</if>
            <if test="img !=null and img!=''">img=#{img},</if>
            <if test="salesmanId != null">salesman_id = #{salesmanId},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="delLable != null">del_lable = #{delLable},</if>
        </trim>
        where consumption_list_id = #{consumptionListId}
    </update>



    <delete id="deleteOrdersById" parameterType="Long">
        delete from t_orders where consumption_list_id = #{consumptionListId}
    </delete>

    <delete id="deleteOrdersByIds" parameterType="String">
        delete from t_orders where consumption_list_id in 
        <foreach item="consumptionListId" collection="array" open="(" separator="," close=")">
            #{consumptionListId}
        </foreach>
    </delete>
</mapper>