<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toceansoft.client.mapper.ClientMapper">

    <resultMap type="Client" id="ClientResult">
        <result property="id"    column="id"    />
        <result property="clientName"    column="client_name"    />
        <result property="address"    column="address"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="clientLevel"    column="client_level"    />
        <result property="clientGroup"    column="client_group"    />
        <result property="createTime"    column="create_time"    />
        <result property="creator"    column="creator"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updatePerson"    column="update_person"    />
        <result property="delLabel"    column="del_label"    />
        <result property="contactLabel"    column="contact_label"    />
    </resultMap>

    <sql id="selectClientVo">
        select id, client_name, address, phone_number, client_level, client_group, create_time, creator, update_time, update_person, del_label, contact_label from t_client
    </sql>

    <select id="selectClientList" parameterType="Client" resultMap="ClientResult">
        <include refid="selectClientVo"/>
        <where>
            <if test="clientName != null  and clientName != ''"> and client_name like concat('%', #{clientName}, '%')</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="clientLevel != null  and clientLevel != ''"> and client_level = #{clientLevel}</if>
            <if test="clientGroup != null "> and client_group = #{clientGroup}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="updatePerson != null  and updatePerson != ''"> and update_person = #{updatePerson}</if>
            <if test="delLabel != null  and delLabel != ''"> and del_label = #{delLabel}</if>
            <if test="contactLabel != null  and contactLabel != ''"> and contact_label = #{contactLabel}</if>
        </where>
        order by client_level
    </select>

    <select id="selectClientById" parameterType="Long" resultMap="ClientResult">
        <include refid="selectClientVo"/>
        where id = #{id}
    </select>

    <insert id="insertClient" parameterType="Client">
        insert into t_client
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="clientName != null and clientName != ''">client_name,</if>
            <if test="address != null">address,</if>
            <if test="phoneNumber != null and phoneNumber != ''">phone_number,</if>
            <if test="clientLevel != null">client_level,</if>
            <if test="clientGroup != null">client_group,</if>
            create_time,
            <if test="creator != null">creator,</if>
            update_time,
            <if test="updatePerson != null">update_person,</if>
            <if test="delLabel != null and delLabel != ''">del_label,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="clientName != null and clientName != ''">#{clientName},</if>
            <if test="address != null">#{address},</if>
            <if test="phoneNumber != null and phoneNumber != ''">#{phoneNumber},</if>
            <if test="clientLevel != null">#{clientLevel},</if>
            <if test="clientGroup != null">#{clientGroup},</if>
            sysdate(),
            <if test="creator != null">#{creator},</if>
            sysdate(),
            <if test="updatePerson != null">#{updatePerson},</if>
            <if test="delLabel != null and delLabel != ''">#{delLabel},</if>
        </trim>
    </insert>

    <update id="updateClient" parameterType="Client">
        update t_client
        <trim prefix="SET" suffixOverrides=",">
            <if test="clientName != null and clientName != ''">client_name = #{clientName},</if>
            <if test="address != null">address = #{address},</if>
            <if test="phoneNumber != null and phoneNumber != ''">phone_number = #{phoneNumber},</if>
            <if test="clientLevel != null">client_level = #{clientLevel},</if>
            <if test="clientGroup != null">client_group = #{clientGroup},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updatePerson != null">update_person = #{updatePerson},</if>
            <if test="delLabel != null and delLabel != ''">del_label = #{delLabel},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteClientById" parameterType="Long">
        delete from t_client where id = #{id}
    </delete>

    <delete id="deleteClientByIds" parameterType="String">
        delete from t_client where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectClientByName" parameterType="String" resultMap="ClientResult">
        <include refid="selectClientVo"/>
        where client_name = #{clientName}
    </select>
</mapper>